.todo-item {
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s;
  user-select: none;
}

.todo-item:hove {
  background: #e3fafc;
}
/* todo-item에 마우스가 있을때만, .remove보이기 */
.todo-item:hover .remove {
  opacity: 1;
}
/*
 + : 앞의 요소 바로 뒤에 있는 요소만 선택합니다.
 todo-item 사이에 윗 테두리를 준다. 
*/

.todo-item + .todo-item {
  border-top: 1px solid #f1f3f5;
}

.remove {
  margin-right : 1rem;
  color : #e64980;
  font-weight: 600;
  opacity: 0;
}

.todo-text {
  flex: 1; /* 체크, 엑스를 제외한 공간 다 채우기 */
  word-break: break-all;
}

.checked {
  text-decoration: line-through;
  color : #adb5bd;
}
.check-mark {
  font-size: 1.5rem;
  line-height: 1rem;
  margin-left: 1rem;
  color : #3bc9db;
  font-weight: 800;
}